*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
 
  #root, #__next {
    isolation: isolate;
  }


li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

html {
	text-size-adjust: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

svg,
img {
	vertical-align: bottom;
}

input,
button,
select,
textarea {
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	text-align: center;
	text-transform: inherit;
	vertical-align: middle;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}
